<div class="home">
  <section auto-height class="section one" id="home" ng-include="section.one"></section>
  <section auto-height class="section two" id="about" ng-include="section.two"></section>
  <section auto-height class="section three" id="services" ng-include="section.three"></section>
  <section auto-height class="section four" id="partners" ng-include="section.four"></section>
  <section auto-height class="section five" id="hiring" ng-include="section.five"></section>
  <section auto-height class="section six" id="contact" ng-include="section.six"></section>
</div>
