<div class="home-about-source">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="home-about-cont">
          <h4 class="title-universal uppercase">
            <span class="danger">About</span>
            <span class="primary">G-SOURCE</span>
          </h4>
          <p>
            Gsource connects the dots between data, design and delivery.  Powered by intelligent insights, expert analysts and cutting-edge technology, Gsource delivers highly efficient and customized engineering, design, GIS and technology solutions.
          </p>
          <div class="button">
            <button class="btn btn-primary"> Explore </button>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
<div class="home-about-play">
    <img src="img/home/home-about-rect.png" alt="">
  <img src="img/home/home-about.png" alt="" class="full-img">
  <img src="img/home/home-about-rect-upper.png" alt="">
  <a class="play-circle-outline"> <i class="fa fa-play">
  </i></a>
</div>
      </div>
    </div>
    <div class="landing-bottom">
      <img src="img/about-img.png" alt="" class="full-img">
    </div>
  </div>
</div>
