<div class="home-services">
  <div class="container">
    <div class="text-center">
      <h4 class="title-universal uppercase">
      <span class="danger">OUR </span>
      <span class="primary">SERVICES</span>
    </h4>
    </div>
    <div class="home-services-cont">
      <div class="row">
        <div class="col-sm-4">
          <div class="home-img-services">
            <figure>
              <img src="img/home/service-cad.png" alt="" class="full-img">
              <figcaption class="text-center">
                <i class="icon icon-mapping"></i> GIS MAPPING
              </figcaption>
            </figure>
            <div class="home-cont-services">
              <i class="icon icon-mapping"></i>
              <h5>
              GIS MAPPING
              </h5>
              <p>
                Accurate analysis meets attention to detail. Capture, convert, visualize, and analyze geospatial data to create maps and databases that are inline with all your requirements and make stronger, data-driven decisions.
              </p>
              <div class="button">
                <button class="btn btn-outline">Know More</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="home-img-services">
            <figure>
              <img src="img/home/service-cad.png" alt="" class="full-img">
              <figcaption class="text-center">
                <i class="icon icon-cad"></i> CAD DRAFTING
              </figcaption>
            </figure>
            <div class="home-cont-services">
              <i class="icon icon-cad"></i>
              <h5>
            CAD DRAFTING
              </h5>
              <p>
                Accurate analysis meets attention to detail. Capture, convert, visualize, and analyze geospatial data to create maps and databases that are inline with all your requirements and make stronger, data-driven decisions.
              </p>
              <div class="button">
                <button class="btn btn-outline">Know More</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="home-img-services">
            <figure>
              <img src="img/home/service-cad.png" alt="" class="full-img">
              <figcaption class="text-center">
                <i class="icon icon-technology"></i> TECHNOLOGY
              </figcaption>
            </figure>
            <div class="home-cont-services">
              <i class="icon icon-technology"></i>
              <h5 class="text-center">
            TECHNOLOGY
              </h5>
              <p>
                Accurate analysis meets attention to detail. Capture, convert, visualize, and analyze geospatial data to create maps and databases that are inline with all your requirements and make stronger, data-driven decisions.
              </p>
              <div class="button">
                <button class="btn btn-outline">Know More</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="landing-bottom">
      <img src="img/quadcopter.png" alt="" class="quadcop">
      <img src="img/cad-footer.png" alt="" class="full-img">
    </div>
  </div>
</div>
